.signup_container {
  width: 500px;
  padding: 50px 30px;
  margin: 200px auto 0 auto;
}
.signup_form {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
}
.signup_form_input {
  flex: 1 0 auto;
  padding: 10px 10px;
  margin-bottom: 15px;
}
.signup_form_btn {
  flex: 1 0 auto;
  padding: 20px 10px;
}
